*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg,rgba(223, 223, 39, 0.842),rgb(199, 223, 141));
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header,form{
    display: flex;
    justify-content: center;
    min-height: 20vh;
    align-items: center;
}
form input, form button{
    font-size: 2rem;
    padding: .5 rem;
    outline: none;
    border: none;
    background: white;
    padding: 4px;
}
form button{
    color:rgba(223, 223, 39, 0.842) ;
    background: white;
    cursor: pointer;
    transition: all .3s ease;
}
form button:hover{
    background: black;
    color: white;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: .5rem;
    background: white;
    color: black;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
.todo li {
    padding: 0 4px;
    flex:1;
}
.trash-btn,.complete-btn{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}
.fa-trash,.fa-check{
    pointer-events: none;
}
.complete-btn{
    background: greenyellow;
}
.completed{
    text-decoration: line-through;
    opacity: .5;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: rgba(223, 223, 39, 0.842);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    background: rgba(223, 223, 39, 0.842);
    transition: all .3s ease;
}
.select:hover::after{
    background: white;
    color: rgba(223, 223, 39, 0.842);
}